<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BindingToDataSets.Properties.Settings.NorthwindConnection"
            connectionString="Data Source=DESKTOP-G22DBJE\MYSQLDB_AR;Initial Catalog=NorthwindPluralDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>